/*==========================
        CONTACT
==========================*/

.contact{

    padding:100px 0;
    background:#ffffff;

}

.contact-wrapper{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;

}

.contact-form input,
.contact-form textarea{

    width:100%;
    padding:15px;
    margin-bottom:20px;

    border:1px solid #ddd;
    border-radius:10px;

    font-size:1rem;

}

.contact-form textarea{

    resize:none;

}

.contact-form button{

    background:#0d6efd;
    color:#fff;

    border:none;

    padding:15px 35px;

    border-radius:30px;

    cursor:pointer;

    transition:.3s;

}

.contact-form button:hover{

    background:#0b5ed7;

}

.contact-image img{

    width:100%;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

@media(max-width:768px){

    .contact-wrapper{

        grid-template-columns:1fr;

    }

}