/*==========================
        FOOTER
==========================*/

.footer{

    background:#0d1b2a;
    color:#fff;

    padding:70px 0 20px;

}

.footer-content{

    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:40px;

}

.footer-logo h2{

    color:#4dabf7;
    margin-bottom:20px;

}

.footer-logo p{

    color:#ccc;
    line-height:1.8;

}

.footer-links h3,
.footer-contact h3{

    margin-bottom:20px;

}

.footer-links ul{

    list-style:none;

}

.footer-links li{

    margin-bottom:12px;

}

.footer-links a{

    color:#ccc;
    text-decoration:none;
    transition:.3s;

}

.footer-links a:hover{

    color:#4dabf7;

}

.footer-contact p{

    margin-bottom:12px;
    color:#ccc;

}

.footer hr{

    margin:40px 0 20px;
    border:1px solid rgba(255,255,255,.1);

}

.copyright{

    text-align:center;
    color:#aaa;

}

@media(max-width:768px){

    .footer-content{

        grid-template-columns:1fr;
        text-align:center;

    }

}